<div class="survey-form">
    <div class="flex-question-sidebar">
        <div style="width: 100%;padding-top: 18px;padding-bottom: 28px;" class="form-question-card">
            <div id="errorContainer">
                <p>Survey Name Field Can't Be Empty</p> <button id="closeErrorContainer" type="button"><i
                        class="bi bi-x"></i></button>
            </div>
            <div class="quesnDiv">