#responses {
    margin: 20px;
    padding: 20px;
}

.responses-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--box-shadow);
}

.status-green, .status-red {
    display: flex;
    align-items: center;
    gap: 6px;
}

.status-green>span, .status-red>span {
    height: 15px;
    border-radius: 50%;
    display: block;
    width: 15px;
    background-color: rgb(125, 201, 10);
}

.status-red>span {
    background-color: rgb(192, 45, 8);
}

.responses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(197, 197, 197);
    padding: 0 16px;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.responses-header h2 {
    font-size: 20px;
    margin-right: 3px;
}

#responses .survey-data {
    display: flex;
    align-items: center;
}

#responses .survey-image {
    width: 550px;
    height: 200px;
}

#responses .survey-content {
    width: 100%;
    padding-left: 10px;
}


#responses .survey-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1100px) {
    .responses-header {
        padding: 0;
        padding-bottom: 7px;
    }

    .survey-content .grid {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        ;
    }

    #responses .survey-image {
        display: none;
    }

    #responses {
        margin: 0;
    }
}

.survey-content p {
    color: gray;
}

.survey-content p span {
    color: #333;
}

.responses-table {
    margin: 10px auto;
    overflow: scroll;
    border: 1px solid rgb(223, 218, 218);
    box-shadow: rgba(0, 0, 0, 0.343) 0px 2px 4px 0px inset;
}

.responses-table th {
    min-width: 100px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

table {
    background: #f3f3f3;
    border-radius: 0.25em;
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid rgb(223, 218, 218);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    min-width: 500px;
    border-right: 1px solid rgb(223, 218, 218);
    padding: 16px;
}

th:last-child, td:last-child {
    border-right: none;
}

table {
    min-width: 100%;
}

td {
    color: rgb(112, 112, 112);
    font-weight: 400;
    padding: 0.65em 1em;
    border-right: 1px solid rgb(223, 218, 218);
    font-size: 15px;
    min-width: 100%;
    width: fit-content;
    background-color: white;
    text-align: center;
}

td:nth-child(2), td:nth-child(1) {
    color: #333;
}

tr {
    border-bottom: 1px solid rgb(223, 218, 218);
}

tr:last-child {
    border-bottom: none;
}

/* tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
} */

.incorrectAnswerMarked, .correctAnswerMarked {
    background-color: rgb(255, 167, 167) !important;
    border: none !important;
    color: rgb(117, 21, 0) !important;
    height: auto;
    text-align: center;
    margin-left: 40px;
}

.correctAnswerMarked {
    background-color: rgb(167, 255, 167) !important;
    color: rgb(0, 117, 0) !important;
}

.survey-form {
    position: relative;
}

.answerStatus {
    font-size: 60px;
    position: absolute;
    right: 30px;
    top: 10px;
    color: rgb(113, 240, 113);
}

.hide {
    display: none;
}