
<div id="modal-container" class="removeModal">
    <section id="modal">
        <div class="modal-container form-question-settings">
            <div class="modal-container-header">
                <h2>Select block type you want to add to your survey</h2>
                <button id="close-modal" type="button"> <i class="bi bi-x"></i></button>
            </div>
            <div class="grid-form-types">
                <!-- MCQ BTN -->
                <div>
                    <button type="button" id="mcqQuestion"><i style="background-color: pink;" class="bi bi-ui-radios"></i>
                        <p>Multiple Choice Question</p>
                    </button>
                </div>

                <!-- QUESTION BTN -->
                <div>
                    <button type="button" id="answerQuestion"><i style="background-color: rgb(174, 137, 190);" class="bi bi-question-circle"></i>
                        <p>Question</p>
                    </button>
                </div>

                <!-- PHONE BTN -->
                <div>
                    <button type="button" id="phoneQuestion"><i style="background-color: rgb(243, 240, 191);" class="bi bi-telephone-fill"></i>
                        <p>Phone Number</p>
                    </button>
                </div>

                <!-- LINK BTN -->
                <div>
                    <button type="button" id="linkQuestion"><i style="background-color: rgb(199, 246, 167);" class="bi bi-link-45deg"></i>
                        <p>Link</p>
                    </button>
                </div>

            </div>
        </div>
    </section>

</div>