<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
<main>
    <div  style="  background: rgb(238, 224, 212);
    height: 80vh;">

    </div>
    <div  style="  background: rgb(172, 99, 35);
    height: 80vh;">

    </div>
    <div  style="  background: rgb(9, 5, 2);
    height: 80vh;">

    </div>
 
  
</main>
<%- include('../includes/end.ejs') %>
